@import '../../scss/colors';
@import '../../scss/animations';

.footer{
    width: 100vw;
    background-color: $blue;
    color: $lightestgray;
    padding: .5rem 0 0;
    text-align: center;  

    i{
        margin: 0 1rem;
        font-size: 20px;
        transition: $quick;
        display: inline-block;
        transition: $quick;
        animation-iteration-count: infinite;
        animation-duration: 1s;

        &:hover {
            color: $lightblue;
            animation-name: shake;            
        }
    }

    span{
        font-size: .7rem;
    }
} 

.footer-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}

@keyframes shake {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}