<div class="container">      
  <div class="row">
    <div class="col-12 t-center">
      <a href="https://www.linkedin.com/in/drewmika/">
        <img width="30" height="35" src="/assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://www.twitter.com/drewmika/">
        <img width="30" height="35" src="/assets/icons/twitter.svg" alt="Twitter">
      </a>
      <a href="https://github.com/LostDakota">
        <img width="30" height="35" src="/assets/icons/github.svg" alt="GitHub">
      </a>
    </div>
    <div class="col-12 t-center">
      <p class="t-small cr c-white">&copy; {{ year }} Drew Mika</p>  
    </div>
  </div>
</div>