@import '../../scss/colors';
@import '../../scss/animations';

.footer{
    width: 100vw;
    background-color: $blue;
    color: $lightestgray;
    padding: .5rem 0 0;
    text-align: center;  

    i{
        margin: 0 1rem;
        font-size: 20px;
        transition: $quick;

        &:hover {
            color: $lightblue;
        }
    }

    span{
        font-size: .7rem;
    }
} 

.footer-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}