<div id="footer" class="container">      
  <div class="row">
    <div class="col-12">
      <a href="https://www.linkedin.com/in/drewmika/">
        <i class="fab fa-linkedin fa-inverse"></i>
      </a>
      <a href="https://www.twitter.com/drewmika/">
        <i class="fab fa-twitter fa-inverse"></i>
      </a>
      <a href="https://github.com/LostDakota">
        <i class="fab fa-github fa-inverse"></i>
      </a>
    </div>
    <div class="col-12">
      <h6>&copy; 2018 Drew Mika</h6>  
    </div>
  </div>
</div> 
