<div class="footer-wrapper">
  <div class="container footer">      
    <div class="row">
      <div class="col-12">
        <a title="LinkedIn" href="https://www.linkedin.com/in/drewmika/">
          <img width="30" height="35" src="/assets/icons/linkedin.svg" alt="">
        </a>
        <a title="Twitter" href="https://www.twitter.com/drewmika/">
          <img width="30" height="35" src="/assets/icons/twitter.svg" alt="">
        </a>
        <a title="GitHub" href="https://github.com/LostDakota">
          <img width="30" height="35" src="/assets/icons/github.svg" alt="">
        </a>
      </div>
      <div class="col-12" style="padding-top: .75rem;">
        <p class="t-small cr">&copy; {{ year }} Drew Mika</p>  
      </div>
    </div>
  </div>   
</div>