.footer{
    width: 100vw;
    background-color: #235E71;
    color: #EEE;
    padding: .5rem 0 0;
    text-align: center;  

    i{
        margin: 0 1rem;
        font-size: 20px;
    }

    span{
        font-size: .7rem;
    }
} 

.footer-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}