<div class="row ng-cloak" [ngClass]="{'ng-show': isVisible}">  
  <div class="col-12">
    <div class="card">
        <h1 class="c-slate">About me</h1>
        <img src="/assets/drew.jpg" style="float: left; margin: 0 1rem 1rem 0">
        <p>My name is Drew Mika. I hail from a suburb of Youngstown, Ohio.</p>
        <p>
          I graduated from the Youngstown State University in 2006 with a bachelor's in graphic design.
          How did I get into application development, you might ask.
          Well, let me tell you a story, as my mom would say.
        </p>
        <p>
          My glorious first generation iMac broke (corrupted os) around the time of graduation and I wasn't able to shell out the money for a new machine and I lost the disc to do a reinstall.
          So I took to the internet for a solution.
          I found Linux! 
          I know, I know. WTF? No one cares about that, but it's important to the story.
          I installed Ubuntu and realized that there was a whole new world out there that I wasn't privy to.
        </p>
        <p>
          In high school, and college, I learned html and css.
          There was also image slicing and Dreamweaver, ugh.
          But I never learned any other higher level programming languages.
          Enter bash (not *necessarily* a "real" programming language), javascript and php...
          We all have to start somewhere.
        </p>
        <p>
          I started writing a site for home automation.
          Nothing fancy, really.
          Just something I could check in on the various cameras I had set up around the house and open the garage door with a raspberry pi.
          NBD.
          I kept at it and then I had a relatively polished website.
          With ajax and haptic feedback and responsivness, oh my.
        </p>
        <p>
          I took my shiny website (then webapp) and applied as a Developer I at Hyland Software a couple of years ago.
          Never in a million years would I have thought I could land that type of gig.
          I did.
          So cool.
          I love my job.
          I'll write a blog post about what we're working on at a later date.
        </p>
        <p>
          Anyway.
          This is what I do now full time.
          My passion is javascript and node, but I make the donuts with C#. 
          I love learning new things and I don't ever want to stop.
        </p>
        <p>
          Thanks for visiting my site!  
        </p>
    </div>
  </div>
</div>