<div class="row">
  <div class="col-12">
    <h2>Write a new post</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input placeholder="Title" type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': submitted && f.title.errors}" (keydown)='focusEditor($event)' />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="form-group">
          <quill-editor [modules]="modules" (onEditorCreated)="registerImageHandler($event)" placeholder="Write something" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></quill-editor>
          <br />
          <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
            <div *ngIf="f.content.errors.required">Body is required</div>
          </div>
      </div>
      <div class="form-group">
        <input placeholder="Description (160 or less)" type="text" formControlName="description" maxlength="160" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tags.errors }" />
      </div>
      <div class="form-group">
        <input placeholder="Tags (comma seperated)" type="text" formControlName="tags" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tags.errors }" />
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-submit"><span *ngIf="loading"><i class="fa fa-gear fa-spin"></i></span>Submit</button>
      </div>
    </form>
  </div>
</div>