<div class="row">
  <div class="col">
    <div class="card ng-cloak" [ngClass]="{'ng-show': isVisible}">
      <span *ngIf="isAuthenticated"><i (click)="deletePost(post$?.slug)" class="fa fa-trash clickable"></i></span>
      <span *ngIf="isAuthenticated"><i (click)="edit(post$?.slug)" class="fa fa-edit clickable"></i></span>
      <h1>{{ post$?.title }}</h1>
      <h6>{{ post$?.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
      <div [innerHTML]="post$?.content"></div>
      <div class="tags" *ngIf="post$?.tags">
        <a routerLink="/blog/{{tag}}" class="tag" *ngFor="let tag of post$?.tags">{{tag}}</a>
      </div>
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered byDisqus.</a></noscript>
    </div>
  </div>
</div>

<link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css" as="style" onload="this.rel='stylesheet'" integrity="sha384-zhIsEafzyQWHSoMCQ4BfT8ZlRXQyIFwAHAJn32PNdsb8n6tVysGZSLpEEIvCskw4" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/solarized-dark.min.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js" integrity="sha384-BlPof9RtjBqeJFskKv3sK3dh4Wk70iKlpIe92FeVN+6qxaGUOUu+mZNpALZ+K7ya" crossorigin="anonymous"></script>