<script src="/hl.js"></script>
<div class="row">
  <div class="col">
    <div class="card ng-cloak" [ngClass]="{'ng-show': isVisible}">
      <span *ngIf="isAuthenticated" (click)="deletePost(post$?.slug)" class="clickable edit-or-delete">Delete</span>
      <span *ngIf="isAuthenticated" (click)="edit(post$?.slug)" class="clickable edit-or-delete">Edit</span>
      <h1>{{ post$?.title }}</h1>
      <h6>{{ post$?.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
      <div [innerHTML]="post$?.content"></div>
      <div class="tags" *ngIf="post$?.tags">
        <a routerLink="/blog/{{tag}}" class="tag" *ngFor="let tag of post$?.tags"><img width="12" height="12" src="/assets/icons/tag.svg" alt="">{{tag}}</a>
      </div>
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered byDisqus.</a></noscript>
    </div>
  </div>
</div>

<link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css"
    as="style" onload="this.rel='stylesheet'"
    integrity="sha384-zhIsEafzyQWHSoMCQ4BfT8ZlRXQyIFwAHAJn32PNdsb8n6tVysGZSLpEEIvCskw4" crossorigin="anonymous">

  <script async src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"
    integrity="sha384-BlPof9RtjBqeJFskKv3sK3dh4Wk70iKlpIe92FeVN+6qxaGUOUu+mZNpALZ+K7ya"
    crossorigin="anonymous"></script>

<script src="/hl.js"></script>
<script id="dsq-count-scr" src="//mika-house.disqus.com/count.js" async></script>