<div class="row">
  <div class="col" *ngIf="posts$.length > 0">
    <div class="div" *ngIf="isTagSearch">
      <div class="col"><div class="clickable" (click)="removeTagFilter()"><i class="fa fa-times-circle c-dark-gray"></i> Remove <div class="tag">{{searchedTag}}</div></div></div>
    </div>
    <div class="card" *ngFor="let post of posts$">
      <h2>
        <a title="{{ post.title }}" routerLink="/blog/{{post._id}}">{{ post.title }}</a>
      </h2>      
      <h6>{{ post.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
      <div [innerHTML]="post.content | summary"></div>
      <div class="tags" *ngIf="post.tags.length > 0">
        <span title="{{tag}}" (click)="tagSearch(tag)" class="tag clickable" *ngFor="let tag of post.tags">{{tag}}</span>
      </div>      
      <a title="Go to post" class="color-link" routerLink="/blog/{{post._id}}">Go to post</a>
    </div>
  </div>
  <div class="col" *ngIf="posts$.length === 0">
    <div class="card">
      <p>There aren't any post here yet.</p>
    </div>
  </div>
</div>