<div class="row ng-cloak" [ngClass]="{'ng-show': isVisible}">
  <div class="col-12">
    <h1 class="c-slate t-center">Blog Posts</h1>
  </div>
  <div class="col" *ngIf="posts$.length > 0">
    <div class="div" *ngIf="filter">
      <div class="col">
        <div class="clickable">
          <a routerLink="/blog">
            <i class="fa fa-times-circle c-dark-gray"></i> Filter <span class="tag">{{filter}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let post of posts$">
      <h2>
        <a title="{{ post.title }}" routerLink="/post/{{post.slug}}">{{ post.title }}</a>
      </h2>      
      <h6>{{ post.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
      <div [innerHTML]="post.content | summary"></div>
      <div class="tags" *ngIf="post.tags.length > 0">
        <a href="/blog/{{tag}}" title="{{tag}}" class="tag clickable" *ngFor="let tag of post.tags">{{tag}}</a>
      </div>
    </div>
  </div>
</div>