<nav class="container">
  <h1>Mika House</h1>
  <ul class="row">
    <li class="col">
      <a [class.active]="currentUrl == '/'" routerLink="">Home</a>
    </li>
    <li class="col">
      <a [class.active]="currentUrl == '/about'" routerLink="about">About</a>
    </li>
    <li class="col">
      <a [class.active]="currentUrl == '/blog'" routerLink="blog">Blog</a>
    </li>
    <li class="col">
      <a [class.active]="currentUrl == '/contact'" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>