.site-header-title{
    text-align: center;
}

.menu-items{
    text-align: center;
}

.active{
    border-bottom: 1px solid lightblue;
    a{
        text-decoration: none!important;
        color: darkslateblue;
        font-weight: bold;

        &:hover{
            color: lightblue;
        }
    }
    &.admin-link{
        a{
            color: white;
        }
    }
}

