<div id="nav" class="container">
  <div class="row">
    <div class="col-12 site-header-title">
      <span *ngIf="currentUrl == '/'"><h1>Mika House</h1></span>
      <span *ngIf="currentUrl != '/'"><h3>Mika House</h3></span>
    </div>
    <div class="col menu-items" [class.active]="currentUrl == '/'">
      <a routerLink="">Home</a>
    </div>    
    <div class="col menu-items" [class.active]="currentUrl == '/blog'">
      <a routerLink="blog">Blog</a>
    </div>
    <div class="col menu-items" [class.active]="currentUrl == '/contact'">
      <a routerLink="contact">Contact</a>
    </div>
    <div class="col menu-items" [class.active]="currentUrl == '/about'">
      <a routerLink="about">About</a>
    </div>    
  </div>
</div>