$white: #FFF;
$black: #000;
$lightestgray: lighten($black, 95%);
$lightgray: lighten($black, 90%);
$darkgray: #333;
$lightblue: lightblue;
$blue: #235E71;
$slate: darkslategray;

$colors: (
    white: $white,
    lightestgray: $lightestgray,
    lightgray: $lightgray,
    gray: lighten($black, 80%),
    darkgray: $darkgray,
    lightblue: $lightblue,
    blue: $blue,
    slate: $slate
);

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .c-#{$name}-bg {
        background-color: $color;
    }
}