#header {
    background-color: $white;
    min-height: 75px;
}

.site-header-title{
    text-align: center;
}

.menu-items{
    text-align: center;
    border-bottom: 2px solid $white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 19px;
    
    a {
        transform: scale(1);
        display: inline-block;
    }

    &:hover {
        border-bottom: 2px solid $blue;
        background: $lightblue;        

        a {
            color: $white;
        }
    }
    
    &.active{
        border-bottom: 2px solid $lightblue;
    
        a{
            text-decoration: none!important;
            color: darken($lightblue, 50%);
            font-weight: bold;
        }
    }
}

#footer {
    background-color: $blue;
    color: $white;
    min-height: 100px;

    img {
        margin: 0 1rem;
        width: 30px;
        height: 35px;
        transition: $quick;
        display: inline-block;
        transition: $quick;
        animation-iteration-count: infinite;
        animation-duration: 1s;

        &:hover {
            color: $lightblue;
            animation-name: shake;            
        }
    }
}

@keyframes shake {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}