@import '../scss/colors';
@import '../scss/animations';

@keyframes wiggle {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg) scale(.9);
    }
}

.tag{
    font-size: .75rem;
    border-radius: 1rem;
    display: inline;
    margin-right: .5rem;
    background-color: $lightblue;
    color: $slate;
    padding: 3px 8px;
    transition: $quick;

    img {
        margin-right: 10px;
        width: .75rem;
        height: .75rem;
        margin-right: 5px;
        display: inline-block;
        animation-iteration-count: 3;    
        animation-duration: .2s;
    }

    &:hover {
        color: $white;

        img {
            animation-name: wiggle;
        }   
    }
}

.tags{
    position: relative;
    margin: 5px 0 0;
    height: 100%;
}