a{
    text-decoration: none;
    color: $darkgray;
    &:hover{
        color: $lightgray;
    }
    &:active{
        text-decoration:  none!important;
    }
}

p{
    margin-bottom: 1rem;

    &:last-of-type{
        margin-bottom: 0;
    }
}

.color-link{
    color: $lightblue;
}

.form-group{
    .form-control{
        padding: 5px;
        border: 1px solid $lightestgray;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 1rem;
    }

    button{
        float: right;
        background: $white;
        border: 1px solid $lightestgray;
        border-radius: 3px;
    }
}

.fa-trash, .fa-edit{
    float: right;
    color: $lightblue;
    margin-left: 1rem;
}

.ql-editor{
    min-height: 300px;
}

.ql-syntax{
    border: 1px solid $lightestgray;
    background: #FAFAFA;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.btn-submit{
    margin-bottom: 2rem;
}

.clickable {
    cursor: pointer;
}