a{
    text-decoration: none;
    color: $darkgray;
    &:hover{
        color: $lightgray;
    }
    &:active{
        text-decoration:  none!important;
    }
}

p{
    margin-bottom: 1rem;

    &:last-of-type{
        margin-bottom: 0;
    }
}