@import '../scss/colors';
@import '../scss/animations';

a {
    text-decoration: none!important;
    color: $darkgray;
    transition: $quick;

    &:hover {
        color: $lightgray;
    }

    &:active {
        text-decoration:  none!important;
    }
}

p {
    margin-bottom: 1rem;

    &:last-of-type{
        margin-bottom: 0;
    }
}

h2 {
    a {
        color: $darkgray;
        transition: $quick;

        &:hover {
            color: $lightblue;
            text-decoration: none;
        }
    }
}

.color-link {
    color: darken($lightblue, 50%);
     &:hover{
         color: $lightblue;
     }
}

.form-group {
    .form-control {
        padding: 5px;
        border: 1px solid $lightestgray;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 1rem;
    }

    button {
        float: right;
        background: $white;
        border: 1px solid $lightestgray;
        border-radius: 3px;
    }
}

.fa-trash, .fa-edit {
    float: right;
    color: $lightblue;
    margin-left: 1rem;
}

.ql-editor {
    min-height: 300px;
}

.ql-syntax {
    background: darkslategray;
    padding: .5rem 1rem;
    border-radius: 3px;
    color: white;
}

.btn-submit {
    margin-bottom: 2rem;
}

.clickable {
    cursor: pointer;
}

blockquote {
    border: 1px solid #CCC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 3px solid #AAA;
    padding: .5rem;
    background-color: #FCFCFC;
    position: relative;

    &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f10d';
        margin-right: 1rem;
        color: #AAA;
    }

    &:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f10e';
        margin-left: 1rem;
        color: #AAA;
        position: absolute;
        right: 1rem;
    }
}

app-post {
    a {
        color: lighten(darkslategray, 30%);
        text-decoration: underline;

        &:hover {
            color: lightblue;
        }
    }
}