<div class="row">
    <div class="col-12">
        <div class="card">
            <h2 style="text-align:center">
            Welcome to Mika House Web Development
            </h2>
            <p>This website is dedicated to web and application development, technology and other geeky stuff that all your cool friends (or spouse, in my case) will roll their eyes about.</p>
        </div>
        <div class="card" *ngIf="post$">
            <h6>Latest Post</h6>
            <h2>
                <a title="{{post$.title}}" routerLink="/post/{{post$._id}}">{{ post$.title }}</a>
            </h2>
            <h6>{{ post$.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
            <div [innerHTML]="post$.content | summary: post$._id: post$.title"></div>
            <div class="tags" *ngIf="post$.tags.length > 0">
                <a routerLink="/blog/{{tag}}" title="{{tag}}" class="tag" *ngFor="let tag of post$.tags">{{tag}}</a>
            </div>
        </div>
    </div>
</div>
