<div class="container ng-cloak" [ngClass]="{'ng-show': isVisible}">
    <div class="card">
        <h1 class="c-slate t-center">
        Welcome to Mika House Web Development
        </h1>
        <p>This website is dedicated to web and application development, technology and other geeky stuff that all your cool friends (or spouse, in my case) will roll their eyes about.</p>
    </div>
    <h3>Latest Posts</h3>
    <div class="card" *ngFor="let post of posts$">
        <h2>
            <a title="{{post.title}}" routerLink="/post/{{post.slug}}">{{ post.title }}</a>
        </h2>
        <h6>{{ post.createdAt | date: 'LLL d, yyyy h:mm a' }}</h6>
        <div>
            <span [innerHTML]="post.content | summary"></span>
            <a routerLink="/post/{{post.slug}}" title="Go to the post {{post.title}}" class="color-link">... read more</a>
        </div>
        <div class="tags" *ngIf="post.tags.length > 0">
            <a routerLink="/blog/{{tag}}" title="{{tag}}" class="tag" *ngFor="let tag of post.tags">{{tag}}</a>
        </div>
    </div>
</div>