.container {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem 2rem;

    .card:nth-child(1) {
        grid-column: 1 / -1
    }

    h3 {
        grid-column: 1 / -1;
        display: block;
        text-align: center;
        margin: -1rem 0;
    }
}