@import '../../scss/colors';

.container {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem 1rem;

    @media (max-width: 600px) {
        grid-gap: .5rem 0;
        padding: 0!important;
    }

    .card:nth-child(1) {
        grid-column: 1 / -1
    }

    .section-heading {
        grid-column: 1 / -1;
        display: block;
    }
}